<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express sikh rha hoon</title>
</head>
<body>
    <h1>Hello all I'm <%= 20+4 %></h1>
    <P>This is my personal website that i have created by my own</P>
    <ul>
        <li>Express</li>
        <li>React</li>
        <li>NodeJS</li>
    </ul>
    <button>Click me!</button>
</body>
</html>

